.answer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

}

.question{
    scroll-margin-top: 70px;
}

.answer-item{
    width: 20%;
}

.sidebar-answer{
    position: sticky;
    top:65px;
}

.answer-item-link.active{
    background-color: #0665d0;
    color:#fff
}

.tbl-collapse td{
    padding: 0 !important;
}

.icon-dropdown-item{
    font-size: 14px;
}

.btn-check:checked + .btn-answer{
    background-color: orange;
    color: #fff;
}

#list-options p{
    margin-bottom: 0;
}