.answer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

}

.question {
    scroll-margin-top: 70px;
}

.answer-item {
    width: 20%;
}

.sidebar-answer {
    position: sticky;
    top: 65px;
}

.answer-item-link.active {
    background-color: #0665d0;
    color: #fff
}

.tbl-collapse td {
    padding: 0 !important;
}

.icon-dropdown-item {
    font-size: 14px;
}

.btn-check:checked+.btn-answer {
    background-color: orange;
    color: #fff;
}

#list-options p {
    margin-bottom: 0;
}

/* Landing page */
/* Responsive nav */
@media (max-width: 991px) {
    .nav {
        display: flex;
        gap: 0.25rem;
        margin-bottom: 0;
    }
}

/* Feature images */
.feature__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Slider */
.slider {
    max-width: 100rem;
    height: 40rem;
    margin: 0 auto;
    position: relative;

    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 40rem;

    display: flex;
    align-items: center;
    justify-content: center;

    /* THIS creates the animation! */
    transition: transform 1s;
}

.slide>img {
    /* Only for images that have different size than slide */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;

    border: none;
    background: rgba(255, 255, 255, 0.9);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    font-size: 3rem;
    cursor: pointer;
}

.slider__btn--left {
    left: 6%;
    transform: translate(-50%, -50%);
}

.slider__btn--right {
    right: 6%;
    transform: translate(50%, -50%);
}

.dots {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
}

.dots__dot:last-child {
    margin: 0;
}

.dots__dot--active {
    background-color: #888;
    opacity: 1;
}

@media (min-width: 960px) {

    .slider,
    .slide {
        height: 25rem;
    }
}

/* TESTIMONIALS */
.testimonial {
    width: 70%;
    position: relative;
}

.testimonial::before {
    content: '\201C';
    position: absolute;
    top: -4rem;
    left: -4.5rem;
    line-height: 1;
    font-size: 10rem;
    z-index: -1;
}

.testimonial__text {
    font-size: 1.3rem;
    margin-bottom: 3rem;
}

.testimonial__author {
    gap: 2rem;
    margin-left: 3rem;
    font-style: normal;
}

.testimonial__photo {
    grid-row: 1 / span 2;
    width: 5rem;
    border-radius: 50%;
}

.testimonial__name {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
}

.testimonial__location {
    font-size: 1.125rem;
}

/* END Landing page */

/* Nhom hoc phan */
.module__dropdown:after {
    content: none;
}

.select2-dropdown {
    z-index: 1056;
}